<h1>Total Complaints</h1>

<table class="complaints-table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Citizen</th>
    <th>Problem</th>
    <th>Address</th>
    <th>Date</th>
    <th>Image</th>
    <th>Priority</th>
    <th>Status</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let complaint of allComplaints">
    <td>{{ complaint.id }}</td>
    <td>{{ complaint.name }}</td>
    <td>{{ complaint.description }}</td>
    <td>{{ complaint.address }}</td>
    <td>{{ complaint.createdAt | date:'short' }}</td>

    <td>
      <img *ngIf="complaint.image"
           [src]="'http://localhost:8080/complaint-image/' + complaint.image"
           width="80"
           height="80"
           style="object-fit: cover; border-radius: 6px;"
           alt="Complaint Image">

      <span *ngIf="!complaint.image">No Image</span>
    </td>


    <td>
        <span *ngIf="complaint.priority; else noPriority">
          {{ complaint.priority }}
        </span>
      <ng-template #noPriority>
        Not Set
      </ng-template>
    </td>

    <td>{{ complaint.status }}</td>
  </tr>

  <tr *ngIf="allComplaints.length === 0">
    <td colspan="8" class="empty">
      No complaints
    </td>
  </tr>
  </tbody>
</table>
