<div class="complaint-container">

  <h2>Complaint Details</h2>

  <div class="details-card">
    <p><b>ID:</b> {{ c.id }}</p>
    <p><b>Category:</b> {{ c.department}}</p>
    <p><b>Description:</b> {{ c.description}}</p>
    <p>
      <b>Status:</b>
      <span class="status-badge" [ngClass]="c.status.toLowerCase()">
        {{ c.status }}
      </span>
    </p>

    <p><b>Resolved Note:</b> {{ c.resolvedDescription || 'Not resolved yet' }}</p>
  </div>

  <div class="images-section">
    <div>
      <h3>Complaint Image</h3>
      <img *ngIf="c.image"
           [src]="'http://localhost:8080/complaint-image/' + c.image"
           alt="Complaint Image">
      <span *ngIf="!c.image">No Image</span>
    </div>

    <div>
      <h3>Resolved Image</h3>
      <img *ngIf="c.resolvedImage"
           [src]="'http://localhost:8080/complaint-image/' + c.resolvedImage"
           alt="Resolved Image">
      <span *ngIf="!c.resolvedImage">No Image</span>
    </div>
  </div>

  <div class="feedback-section" *ngIf="c.status === 'RESOLVED'">

    <div *ngIf="!isFeedbackSubmitted">

    <h3>Give Feedback</h3>

    <div class="rating">
      <span *ngFor="let star of [1,2,3,4,5]"
            (click)="rating = star"
            [class.active]="star <= rating">★</span>
    </div>

    <textarea
      placeholder="Write your feedback..."
      [(ngModel)]="feedbackText">
    </textarea>

    </div>
    <div *ngIf="isFeedbackSubmitted" class="thank-you-box">
      Thank you for your feedback!
    </div>


    <div class="feedback-actions">
      <button class="submit-btn" (click)="submitFeedback()">Submit Feedback</button>
      <button class="reopen-btn" (click)="reopenComplaint()">Reopen Complaint</button>
    </div>

  </div>


</div>
